Repository UTM-Online/UTMO.Text.FileGenerator.Provider.PS-DSC: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

.pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml:
  name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Build/Build.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      NugetConfigPath: $(RepoRoot)/src/nuget.config

.pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml:
  name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      NugetConfigPath: $(RepoRoot)/src/nuget.config
      ProjectsToBuild: $(Projects)
  ...

Update DSC configurations to allow wildcard node names and improve structure
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscConfiguration.liquid
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscNodeConfiguration.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Update DSC configurations to allow wildcard node names and improve structure (#8)
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscConfiguration.liquid
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscNodeConfiguration.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

updating build pool
  .github/workflows/build.yml
Due: none

updating packages
  src/Directory.Packages.props
Due: none

fixing build pool
  .github/workflows/build.yml
Due: none

fixing build steps
  .github/workflows/build.yml
Due: none

refactor: remove RestoreRequiredModules plugin registration
  src/UTMO.Text.FileGenerator.Provider.DSC/DscGenerator.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: add GitHub Actions workflow for automated PR merging
  .github/workflows/Auto-Merge-PRs.yml
Due: none

feat: approve and merge PRs automatically in workflow
  .github/workflows/Auto-Merge-PRs.yml
Due: none

refactor: remove RestoreRequiredModules plugin registration (#9)
  src/UTMO.Text.FileGenerator.Provider.DSC/DscGenerator.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: make DSC plugins optional with command line switches for execution
  src/UTMO.Text.FileGenerator.Provider.DSC/DscGenerator.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Models/DscCliOptions.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Apply suggestions from code review
  src/UTMO.Text.FileGenerator.Provider.DSC/Models/DscCliOptions.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: update DSC CLI options to make restoring and repackaging modules optional
  src/UTMO.Text.FileGenerator.Provider.DSC/Models/DscCliOptions.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: add null check for CLI options and log warning for skipped plugin registration
  src/UTMO.Text.FileGenerator.Provider.DSC/DscGenerator.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: enhance RestoreRequiredModulesPlugin with process management and timeout handling
  src/DSCProviderCore.Tests/DSCProviderCore.Tests.csproj
  src/DSCProviderCore.Tests/RestoreRequiredModulesPluginTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Improve PowerShell script execution cross-platform support
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Improve logging for module restore errors and timeouts
  src/UTMO.Text.FileGenerator.Provider.DSC/LoggingMessages/LogMessages.Designer.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/LoggingMessages/LogMessages.resx
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Improve CLI argument parsing error handling
  src/UTMO.Text.FileGenerator.Provider.DSC/DscGenerator.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Add Windows OS check and improve PSModulePath handling
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Update script path construction for reliability
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Refactor plugin for testability; mock process in tests
  src/DSCProviderCore.Tests/RestoreRequiredModulesPluginTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Fix spacing in RepackageRequiredModules property declaration
  src/UTMO.Text.FileGenerator.Provider.DSC/Models/DscCliOptions.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: make DSC plugins optional with command line switches for execution (#11)
  src/DSCProviderCore.Tests/DSCProviderCore.Tests.csproj
  src/DSCProviderCore.Tests/RestoreRequiredModulesPluginTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/DscGenerator.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/LoggingMessages/LogMessages.Designer.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/LoggingMessages/LogMessages.resx
  src/UTMO.Text.FileGenerator.Provider.DSC/Models/DscCliOptions.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: add Chocolatey DSC resources for managing features, packages, pins, settings, software, and sources
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/ChocoModule.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/ChocoModuleBase.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/ChocoModuleConstants.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Contracts/IChocolateyFeatureResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Contracts/IChocolateyPackageResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Contracts/IChocolateyPinResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Contracts/IChocolateySettingResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Contracts/IChocolateySoftwareResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Contracts/IChocolateySourceResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Resources/ChocolateyFeatureResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Resources/ChocolateyPackageResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Resources/ChocolateyPinResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Resources/ChocolateySettingResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Resources/ChocolateySoftwareResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Resources/ChocolateySourceResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule.csproj
  src/UTMO.Text.FileGenerator.Provider.PS-DSC.slnx
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Marking legacy choco package resources as obsolete
  src/UTMO.Text.FileGenerator.Provider.DSC.cChoco/Resources/ChocoInstallerResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.cChoco/Resources/ChocoPackageInstallerResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.cChoco/Resources/ChocoPackageSourceResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: update namespace for ChocoModule to reflect new structure
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/ChocoModule.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: add .editorconfig for consistent coding styles and formatting
  .editorconfig
Due: none

feat: migrate from cChoco module to Chocolatey module in project references
  src/UTMO.Text.FileGenerator.Provider.DSC/UTMO.Text.FileGenerator.Provider.DSC.csproj
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: add Chocolatey DSC resources for managing features, packages, p… (#12)
  .editorconfig
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/ChocoModule.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/ChocoModuleBase.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/ChocoModuleConstants.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Contracts/IChocolateyFeatureResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Contracts/IChocolateyPackageResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Contracts/IChocolateyPinResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Contracts/IChocolateySettingResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Contracts/IChocolateySoftwareResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Contracts/IChocolateySourceResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Resources/ChocolateyFeatureResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Resources/ChocolateyPackageResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Resources/ChocolateyPinResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Resources/ChocolateySettingResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Resources/ChocolateySoftwareResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Resources/ChocolateySourceResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.cChoco/Resources/ChocoInstallerResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.cChoco/Resources/ChocoPackageInstallerResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.cChoco/Resources/ChocoPackageSourceResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/UTMO.Text.FileGenerator.Provider.DSC.csproj
  src/UTMO.Text.FileGenerator.Provider.PS-DSC.slnx
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Configure Dependabot for NuGet packages
  .github/dependabot.yml
Due: none

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

Configure Dependabot for NuGet packages (#13)
  .github/dependabot.yml
Due: none

fix: update Obsolete attribute to not throw an exception for cChoco Package deprecation
  src/UTMO.Text.FileGenerator.Provider.DSC.cChoco/Resources/ChocoInstallerResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: update Obsolete attribute to not throw an exception for cChoco Package deprecation (#15)
  src/UTMO.Text.FileGenerator.Provider.DSC.cChoco/Resources/ChocoInstallerResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

formatting
  src/Directory.Packages.props
  src/UTMO.Text.FileGenerator.Provider.DSC/DscGenerator.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: enhance GitHub Actions workflow for versioning and artifact publishing
  .github/workflows/build.yml
Due: none

feat: update package versions to use version ranges for better compatibility
  src/Directory.Packages.props
Due: none

feat: enhance build process with release configuration and warning management
  .github/workflows/build.yml
  src/Directory.Build.props
  src/Directory.Packages.props
Due: none

Path conditions:
  .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml: any of: src/UTMO.Text.FileGenerator.Provider.DSC
  .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml: any of: src/UTMO.Text.FileGenerator.Provider.DSC, src/UTMO.Text.FileGenerator.Provider.DSC.*
