Repository UTM-Online/UTMO.Text.FileGenerator.Provider.PS-DSC: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

.pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml:
  name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Build/Build.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      NugetConfigPath: $(RepoRoot)/src/nuget.config

.pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml:
  name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      NugetConfigPath: $(RepoRoot)/src/nuget.config
      ProjectsToBuild: $(Projects)
  ...

feat: update package versions for UTMO.Text.FileGenerator and validators to stable releases
  src/Directory.Packages.props
Due: none

feat: change GitHub Actions runner from ubuntu-latest to windows-latest
  .github/workflows/build.yml
Due: none

feat: remove unnecessary no-build option from test command in GitHub Actions
  .github/workflows/build.yml
Due: none

Updating templating engine to official v2.16 package.
  src/Directory.Packages.props
Due: none

Release/migrate to v2.16 engine (#18)
  .github/workflows/build.yml
  src/Directory.Packages.props
Due: none

feat: update package versions for UTMO.Text.FileGenerator and validators to 2.16.67
  src/Directory.Packages.props
Due: none

Update provider to be compliant with engine v2.16 [TemplateProperty] opt-in model (#20)
  src/DSCProviderCore.Tests/DSCProviderCore.Tests.csproj
  src/DSCProviderCore.Tests/TemplatePropertyComplianceTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/AlternateIpAddresses.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscComputerConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationItem.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscLcmConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscLcmSettings.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscLcmWebResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/ManagedServiceAccount.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/NetworkAdapter.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/NodeNetworkSettings.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/PrimaryIpAddress.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/RequiredModule.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: update package versions for UTMO.Text.FileGenerator and validators to 2.16.72
  src/Directory.Packages.props
  src/UTMO.Text.FileGenerator.Provider.DSC/DscGenerator.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Onboard UtmoStorageDsc resource module with xReadOnlyDrive (#23)
  src/DSCProviderCore.Tests/DSCProviderCore.Tests.csproj
  src/DSCProviderCore.Tests/ReadOnlyDriveResourceTests.cs
  src/DSCProviderCore.Tests/TemplatePropertyComplianceTests.cs
  src/UTMO.Text.FileGenerator.Provider.PS-DSC.slnx
  src/UtmoStorageDsc/Contracts/IReadOnlyDriveResource.cs
  src/UtmoStorageDsc/Resources/ReadOnlyDriveResource.cs
  src/UtmoStorageDsc/UtmoStorageDsc.csproj
  src/UtmoStorageDsc/UtmoStorageDsc.csproj.DotSettings
  src/UtmoStorageDsc/UtmoStorageDscBase.cs
  src/UtmoStorageDsc/UtmoStorageDscConstants.cs
  src/UtmoStorageDsc/UtmoStorageDscModule.cs
Due: none

feat: update module version to 0.1.3 for UtmoStorageDsc
  src/UtmoStorageDsc/UtmoStorageDscModule.cs
Due: none

feat: update package versions for UTMO.Text.FileGenerator and validators to 2.17.0-preview.92
  src/Directory.Packages.props
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/GenerateMofFiles/GenerateMofFilesPlugin.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/ProcessRequiredModules/ProcessRequiredModules.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/TrimMofComments/TrimMofCommentsProcessor.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: update publish condition in build.yml to remove branch restrictions
  .github/workflows/build.yml
Due: none

feat: update package versions for UTMO.Text.FileGenerator and validators to 2.17.1
  .github/workflows/build.yml
  src/Directory.Packages.props
Due: none

Package updates and switching to semantic versioning (#25)
  .github/workflows/build.yml
  src/Directory.Packages.props
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/GenerateMofFiles/GenerateMofFilesPlugin.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/ProcessRequiredModules/ProcessRequiredModules.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/TrimMofComments/TrimMofCommentsProcessor.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: add AddOption method to IChocolateyPackageResource for customizable Chocolatey options
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationPropertyBag.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/ChocoModuleConstants.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Contracts/IChocolateyPackageResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/Resources/ChocolateyPackageResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: improve error handling and streamline DSC LCM configuration process
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/DeployLcmConfig.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

improve error handling and streamline DSC LCM configuration process
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscConfiguration.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: correct indentation and formatting in DscConfiguration.liquid
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscConfiguration.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Ignore timestamp-only MOF churn from PowerShell DSC generation (#30)
  src/DSCProviderCore.Tests/GenerateMofFilesPluginTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/LoggingMessages/LogMessages.Designer.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/LoggingMessages/LogMessages.resx
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/GenerateMofFiles/GenerateMofFilesPlugin.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/TrimMofComments/TrimMofCommentsProcessor.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

chore: update package versions for UTMO.Text.FileGenerator and validators to 2.18.0
  src/Directory.Packages.props
Due: none

fix: correct indentation and formatting in multiple files
  src/Directory.Packages.props
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationItem.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/AdServiceAccounts.liquid
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscConfiguration.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: enable manifest generation in DscConfiguration
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfiguration.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: simplify manifest generation in DscConfiguration
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfiguration.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: remove unused ToManifest methods and clean up formatting
  src/DSCProviderCore.Tests/GenerateMofFilesPluginTests.cs
  src/Directory.Packages.props
  src/UTMO.Text.FileGenerator.Provider.DSC.AD-DSC/Resources/ADManagedServiceAccountResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationItem.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscLcmConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/ManagedServiceAccount.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/RequiredModule.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Potential fix for pull request finding
  src/WindowsDefenderDsc/WindowsDefenderDsc.csproj
Due: none

joshuaitguy
  src/DSCProviderCore.Tests/SqlServerDsc/SqlAGReplicaResourceTests.cs
  src/DSCProviderCore.Tests/SqlServerDsc/SqlAGResourceTests.cs
  src/DSCProviderCore.Tests/SqlServerDsc/SqlAgentFailsafeResourceTests.cs
  src/DSCProviderCore.Tests/SqlServerDsc/SqlDatabaseDefaultLocationResourceTests.cs
  src/DSCProviderCore.Tests/SqlServerDsc/SqlDatabaseUserResourceTests.cs
  src/DSCProviderCore.Tests/SqlServerDsc/SqlEndpointResourceTests.cs
  src/DSCProviderCore.Tests/SqlServerDsc/SqlLoginResourceTests.cs
  src/DSCProviderCore.Tests/SqlServerDsc/SqlProtocolResourceTests.cs
  src/DSCProviderCore.Tests/SqlServerDsc/SqlReplicationResourceTests.cs
  src/DSCProviderCore.Tests/SqlServerDsc/SqlSetupResourceTests.cs
Due: none

Potential fix for pull request finding 'Inefficient use of ContainsKey'
  src/DSCProviderCore.Tests/SqlServerDsc/SqlServiceAccountResourceTests.cs
Due: none

feat: add DscConfigurationItemManifest and DscConfigurationManifest classes
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationItemManifest.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationManifest.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

implement ToManifest method in DscConfiguration and DscConfigurationItem classes
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationItem.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

add ToManifest methods and manifest classes for DscComputerConfiguration and RequiredModule
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscComputerConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscComputerConfigurationManifest.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationItem.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/RequiredModule.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/RequiredModuleManifest.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: rename RewriteModuleVersion to AlternateVersion in RequiredModule and RequiredModuleManifest
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/RequiredModule.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/RequiredModuleManifest.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: adjust indentation for resource declaration in DscConfiguration template
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscConfiguration.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Fix: Push-mode configurations incorrectly included in LCM ConfigurationNames (#37)
  src/DSCProviderCore.Tests/DscLcmWebResourceTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscLcmWebResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Harden CleanGeneratedOutput against empty output paths (#39)
  src/UTMO.Text.FileGenerator.Provider.DSC/ClientBuild/UTMO.Text.FileGenerator.Provider.DSC.targets
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Adding choco package constants and windows feature name constants.
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Constants/ChocoPackageNames.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Constants/WindowsFeatureNames.IIS.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Constants/WindowsFeatureNames.NetFramework.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Constants/WindowsFeatureNames.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/UTMO.Text.FileGenerator.Provider.DSC.Abstract.csproj
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Updating packages
  src/Directory.Packages.props
Due: none

add: introduce RSAT feature constants for Active Directory and related services
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Constants/WindowsFeatureNames.RSAT.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Constants/WindowsFeatureNames.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: upgrade project to support .NET 10.0 and update package versions
  src/DSCProviderCore.Tests/DSCProviderCore.Tests.csproj
  src/Directory.Packages.props
  src/UTMO.Text.FileGenerator.Provider.DSC.AD-DSC/UTMO.Text.FileGenerator.Provider.DSC.AD-DSC.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/UTMO.Text.FileGenerator.Provider.DSC.Abstract.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.SqlServerDsc/UTMO.Text.FileGenerator.Provider.DSC.SqlServerDsc.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.cChoco/UTMO.Text.FileGenerator.Provider.DSC.cChoco.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC/UTMO.Text.FileGenerator.Provider.DSC.csproj
  src/UtmoStorageDsc/UtmoStorageDsc.csproj
  src/WindowsDefenderDsc/WindowsDefenderDsc.csproj
  src/global.json
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: upgrade project to support .NET 10.0 and update package versions (#44)
  src/DSCProviderCore.Tests/DSCProviderCore.Tests.csproj
  src/Directory.Packages.props
  src/UTMO.Text.FileGenerator.Provider.DSC.AD-DSC/UTMO.Text.FileGenerator.Provider.DSC.AD-DSC.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/UTMO.Text.FileGenerator.Provider.DSC.Abstract.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule/UTMO.Text.FileGenerator.Provider.DSC.ChocoModule.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.SqlServerDsc/UTMO.Text.FileGenerator.Provider.DSC.SqlServerDsc.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.cChoco/UTMO.Text.FileGenerator.Provider.DSC.cChoco.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC/UTMO.Text.FileGenerator.Provider.DSC.csproj
  src/UtmoStorageDsc/UtmoStorageDsc.csproj
  src/WindowsDefenderDsc/WindowsDefenderDsc.csproj
  src/global.json
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Path conditions:
  .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml: any of: src/UTMO.Text.FileGenerator.Provider.DSC
  .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml: any of: src/UTMO.Text.FileGenerator.Provider.DSC, src/UTMO.Text.FileGenerator.Provider.DSC.*
