Repository UTM-Online/UTMO.Text.FileGenerator.Provider.PS-DSC: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

.pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml:

name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)

parameters:
  - name: Configuration
    type: string
    default: Release
    values:
      - Release
      - Debug
  - name: MajorVersion
    type: string
    default: 2
  - name: MinorVersion
    type: string
    default: 1

trigger:
  batch: true
  branches:
    include:
      - main
      - release/v2
  paths:
    include:
      - src/UTMO.Text.FileGenerator.Provider.DSC/*

resources:
  repositories:
    - repository: Templates
      type: git
      name: OneBuild\OneBuild.Pipelines.v2
      ref: refs/heads/main
      endpoint: UTMO

extends:
  template: v2/Pipelines/UserTemplates/Build/Build.NugetPkg.Template.yml@Templates
  parameters:
    BuildPool: Public
    NugetConfigPath: $(RepoRoot)/src/nuget.config

.pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml:

name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)

parameters:
  - name: Configuration
    type: string
    default: Release
    values:
      - Release
      - Debug
  - name: MajorVersion
    type: string
    default: 3
  - name: MinorVersion
    type: string
    default: 2

trigger:
  batch: true
  branches:
    include:
      - main
  paths:
    include:
      - src/UTMO.Text.FileGenerator.Provider.DSC/*
      - src/UTMO.Text.FileGenerator.Provider.DSC.*/*

resources:
  repositories:
    - repository: Templates
      type: git
      name: OneBuild\OneBuild.Pipelines.v2
      ref: refs/heads/main
      endpoint: UTMO

variables:
  - name: ProjectRoot
    value: $(Build.SourcesDirectory)/src
  - name: Projects
    value: '$(ProjectRoot)/**/*.sln'

extends:
  template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
  parameters:
    BuildPool: Public
    NugetConfigPath: $(RepoRoot)/src/nuget.config
    ProjectsToBuild: $(Projects)
    ProjectsToRestore: $(Projects)
    DotNetVersion: '9.0.x'
    DeploymentName: DSCGenerator
    ReleaseDisplayName: 'Publish DSC Generator Packages'
    UseWildcardMatch: true
    FeedSettings:
      'ConfigGen': 'internal'
      'UTMO Packages': 'external'

Enable paralell resource and property rendering by default.
  src/UTMO.Text.FileGenerator.Provider.DSC/DscGenerator.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Template Improvements
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscConfiguration.liquid
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/LcmConfiguration.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Enforcing output ordering at the model layer
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscLcmConfiguration.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

refactor: remove unnecessary ordering from RequiredModules and ConfigurationResources properties
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscLcmConfiguration.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Updating packages
  src/Directory.Packages.props
Due: none

refactor: optimize ValueType setter to skip DWord assignment
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/RegistryResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: change ValueType property to nullable type
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/Contracts/IRegistryResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/RegistryResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Updating script
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Revert "fix: change ValueType property to nullable type"
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/Contracts/IRegistryResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/RegistryResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Revert "refactor: optimize ValueType setter to skip DWord assignment"
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/RegistryResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: add Force and Hex properties to IRegistryResource
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Constants/PSDesiredStateConfigurationConstants.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/Contracts/IRegistryResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/RegistryResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: update PSModulePath to exclude user-specific modules
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/_Script_Base.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: restore exclusion of user-specific modules from PSModulePath
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

refactor: enhance machine validation logic and streamline LCM configuration
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/DeployLcmConfig.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: update package versions for System.Management.Automation, MSTest, and Microsoft.Extensions.Logging.Abstractions
  src/Directory.Packages.props
Due: none

fix: update PSModulePath handling to exclude user-specific modules and improve path management
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/_Script_Base.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Fix registry hex value-type validation
  src/DSCProviderCore.Tests/RegistryResourceTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/RegistryResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Address PR 60 code quality comments
  src/DSCProviderCore.Tests/RegistryResourceTests.cs
Due: none

Preserve explicit registry value types when Hex is set
  src/DSCProviderCore.Tests/RegistryResourceTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/RegistryResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Ensure PSModulePath is restored after LCM invocation
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/LcmConfiguration.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Guard bootstrap copy against system module path
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Fix LCM PSModulePath shadowing during MOF generation
  src/DSCProviderCore.Tests/GenerateMofFilesPluginTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/GenerateMofFiles/GenerateMofFilesPlugin.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/LcmConfiguration.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Clean up PSModulePath filtering in child process generation
  src/DSCProviderCore.Tests/GenerateMofFilesPluginTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/GenerateMofFiles/GenerateMofFilesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Limit module-path filtering to LCM generation
  src/DSCProviderCore.Tests/GenerateMofFilesPluginTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/GenerateMofFiles/GenerateMofFilesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Fix empty PSModulePath for normal config generation
  src/DSCProviderCore.Tests/GenerateMofFilesPluginTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/GenerateMofFiles/GenerateMofFilesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Bug/fix registry value type fix + LCM Script Deploy fix (#60)
  src/DSCProviderCore.Tests/GenerateMofFilesPluginTests.cs
  src/DSCProviderCore.Tests/RegistryResourceTests.cs
  src/Directory.Packages.props
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Constants/PSDesiredStateConfigurationConstants.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/Contracts/IRegistryResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/RegistryResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/GenerateMofFiles/GenerateMofFilesPlugin.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/LcmConfiguration.liquid
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/_Script_Base.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

feat: add module import functionality and enhance manifest value retrieval
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/ProcessRequiredModules_v2.ps1
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: update SDK version and enhance module installation error handling
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
  src/global.json
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

fix: resolve formatting issues in log messages and clean up whitespace causing script to fail
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/ProcessRequiredModules_v2.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Fix PowerShell repository bootstrap issue
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/ProcessRequiredModules_v2.ps1
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Fix privileged module install retry handling
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Select compatible Windows PowerShell module root
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Fail when repository modules are unavailable
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/ProcessRequiredModules_v2.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Bug/62 module restore failing after 375 (#63)
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/ProcessRequiredModules_v2.ps1
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
  src/global.json
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml
