Repository UTM-Online/UTMO.Text.FileGenerator.Provider.PS-DSC: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

.pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml:
  name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Build/Build.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      NugetConfigPath: $(RepoRoot)/src/nuget.config

.pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml:
  name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      NugetConfigPath: $(RepoRoot)/src/nuget.config
      ProjectsToBuild: $(Projects)
  ...

Enabling test execution and fixing issues with quoted enums
  .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml
  src/DSCProviderCore.Tests/DSCProviderCore.Tests.csproj
  src/DSCProviderCore.Tests/DscConfigurationPropertyBagTests.cs
  src/DSCProviderCore.Tests/MSTestSettings.cs
  src/DSCProviderCore.Tests/README.md
  src/DSCProviderCore.Tests/ServiceResourceQuotedEnumTests.cs
  src/Directory.Packages.props
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationPropertyBag.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/UTMO.Text.FileGenerator.Provider.DSC.Abstract.csproj
  src/UTMO.Text.FileGenerator.Provider.PS-DSC.sln
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Fixing failing tests
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationPropertyBag.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Inverting the behavior around quting enums so that enum properties not decorated with UnquotedEnumAttribute.cs will automatically be wrapped in quotes.
  src/DSCProviderCore.Tests/DscConfigurationPropertyBagTests.cs
  src/DSCProviderCore.Tests/ServiceResourceQuotedEnumTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Attributes/QuotedEnumAttribute.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Attributes/UnquotedEnumAttribute.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationPropertyBag.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/ServiceResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Updating packages
  src/Directory.Packages.props
Due: none

Updating xPSDesiredStateConfiguration.cs module to use the alternative version format.
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Modules/xPSDesiredStateConfiguration.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Merged PR 44: addressing bug DSC-27 causing inconsistant resource scanning and results.
  src/UTMO.Text.FileGenerator.Provider.DSC/DscGenerator.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Refactor plugin methods to return boolean values for success/failure and update package versions
  src/DSCProviderCore.Tests/DscConfigurationPropertyBagTests.cs
  src/Directory.Build.props
  src/Directory.Packages.props
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscComputerConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationPropertyBag.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/GenerateMofFiles/GenerateMofFilesPlugin.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/ProcessRequiredModules/ProcessRequiredModules.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/TrimMofComments/TrimMofCommentsProcessor.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

removing duplicate packaage versuib
  src/Directory.Packages.props
Due: none

Minor adjustment to error text.
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/TrimMofComments/TrimMofCommentsProcessor.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Refactor error handling in GenerateMofFilesPlugin to return boolean values for success/failure
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/GenerateMofFiles/GenerateMofFilesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Refactor error handling in ProcessRequiredModules and RestoreRequiredModulesPlugin to return boolean values for success/failure
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/ProcessRequiredModules/ProcessRequiredModules.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

DSC-32 Updating restore required modules to use the user scope instead of the allUsers scope
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Merged PR 45: Adding logic to temporarily override the PSModulePath during script execution...
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Applying fix to DSC liquid templates
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/_Script_Base.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Hotfix for RestoreRequiredModules.ps1 to address a regression reported in
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Update PSModulePath to exclude ProgramFiles directory for module restoration
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Enhance RestoreRequiredModules.ps1 with improved error handling and validation for module manifests
  src/UTMO.Text.FileGenerator.Provider.DSC/Scripts/RestoreRequiredModules.ps1
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Merged PR 46: Add pre-build cleanup option to DSC.targets for improved build management
  src/UTMO.Text.FileGenerator.Provider.DSC/ClientBuild/UTMO.Text.FileGenerator.Provider.DSC.targets
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Add DSCScriptsDirectory property to UTMO.Text.FileGenerator.Provider.DSC.props
  src/UTMO.Text.FileGenerator.Provider.DSC/ClientBuild/UTMO.Text.FileGenerator.Provider.DSC.props
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Updating base template to fix a bug during generation.
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/_Script_Base.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Merged PR 47: Add Windows Defender configuration properties and enums for enhanced management
  src/WindowsDefenderDsc/Contracts/IWindowsDefenderResource.cs
  src/WindowsDefenderDsc/Enums/MAPSReportingType.cs
  src/WindowsDefenderDsc/Enums/ScanDirection.cs
  src/WindowsDefenderDsc/Enums/ScanType.cs
  src/WindowsDefenderDsc/Enums/ScheduleDays.cs
  src/WindowsDefenderDsc/Enums/SubmitSamplesConsentType.cs
  src/WindowsDefenderDsc/Enums/ThreatAction.cs
  src/WindowsDefenderDsc/Resources/WindowsDefenderResource.cs
  src/WindowsDefenderDsc/WindowsDefenderConstants.cs
Due: none

Fixing DateTime values not being properly encoded as strings.
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationPropertyBag.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Add DnsClientGlobalSetting DSC resource for DNS client configuration
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Constants/NetworkingDscConstants.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/NetworkingDsc/Contracts/IDnsClientGlobalSettingResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/NetworkingDsc/DnsClientGlobalSettingResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

adding copilot instruction file to the repo
  src/.github/copilot-instructions.md
Due: none

Update HasEnsure property in DSC resources for consistency
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/BaseDefinitions/NetworkingDscBase.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/NetworkingDsc/DnsClientGlobalSettingResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

updating copilot instructions
  src/.github/copilot-instructions.md
  src/UTMO.Text.FileGenerator.Provider.PS-DSC.sln
Due: none

Add DnsServerAddress DSC resource and AddressFamily enum for DNS configuration
  src/.github/copilot-instructions.md
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Constants/NetworkingDscConstants.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/NetworkingDsc/Contracts/IDnsServerAddressResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/NetworkingDsc/DnsServerAddressResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/NetworkingDsc/Enums/AddressFamily.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Merged PR 48: Implement CertReq resource with key properties and validation for certificate...
  src/CERTREQ_RESOURCE_IMPLEMENTATION.md
  src/DSCProviderCore.Tests/CertReqResourceTests.cs
  src/DSCProviderCore.Tests/DSCProviderCore.Tests.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/BaseDefinitions/CertificatesDscBase.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Constants/CertificatesDscConstants.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/ModuleDefinitions/CertificatesDsc.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/CertificatesDsc/CertReqResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/CertificatesDsc/Contracts/ICertReqResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/CertificatesDsc/Enums/CertificateRequestHashAlgorithm.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/CertificatesDsc/Enums/CertificateRequestKeyType.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Add File resource enums and properties for DSC configuration
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Constants/PSDesiredStateConfigurationConstants.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/Contracts/IFileResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/Enums/FileAttribute.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/Enums/FileChecksum.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/Enums/FileType.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/FileResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Add Script DSC resource with properties for script management
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Constants/PSDesiredStateConfigurationConstants.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/Contracts/IScriptResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/ScriptResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Add Create methods for various WebAdministration DSC resources
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/IisFeatureDelegationResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/IisLoggingResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/IisMimeTypeMappingResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/IisModuleResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/SslSettingsResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/WebAppPoolDefaultsResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/WebAppPoolResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/WebApplicationHandlerResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/WebApplicationResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/WebConfigPropertyCollectionResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/WebConfigPropertyResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/WebSiteDefaultsResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/WebSiteResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/WebVirtualDirectoryResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Fix module name and update version for CertificatesDsc
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/ModuleDefinitions/CertificatesDsc.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Fix module name in CertReqResourceTests
  src/DSCProviderCore.Tests/CertReqResourceTests.cs
Due: none

Rename CertificatesDsc to CertificateDsc and update references
  src/DSCProviderCore.Tests/CertReqResourceTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/BaseDefinitions/CertificatesDscBase.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/ModuleDefinitions/CertificateDsc.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/CertificateDsc/CertReqResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/CertificateDsc/Contracts/ICertReqResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/CertificateDsc/Enums/CertificateRequestHashAlgorithm.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/CertificateDsc/Enums/CertificateRequestKeyType.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Add build workflow for .NET project and update package versions
  .github/copilot-instructions.md
  .github/workflows/build.yml
  .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml
  src/Directory.Packages.props
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/ProcessRequiredModules/ProcessRequiredModules.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/RestoreRequiredModules/RestoreRequiredModulesPlugin.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Plugins/TrimMofComments/TrimMofCommentsProcessor.cs
  src/UTMO.Text.FileGenerator.Provider.PS-DSC.sln
  src/UTMO.Text.FileGenerator.Provider.PS-DSC.sln.DotSettings
  src/UTMO.Text.FileGenerator.Provider.PS-DSC.slnx
  src/nuget.config
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Update version in build workflow to 3.3.x
  .github/workflows/build.yml
Due: none

Update SDK version in global.json and adjust rollForward setting
  src/UTMO.Text.FileGenerator.Provider.PS-DSC.slnx
  src/global.json
Due: none

Update build configuration to change package generation settings and adjust publish paths
  .github/workflows/build.yml
  src/Directory.Build.props
  src/UTMO.Text.FileGenerator.Provider.DSC.AD-DSC/UTMO.Text.FileGenerator.Provider.DSC.AD-DSC.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/UTMO.Text.FileGenerator.Provider.DSC.Abstract.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC.cChoco/UTMO.Text.FileGenerator.Provider.DSC.cChoco.csproj
  src/UTMO.Text.FileGenerator.Provider.DSC/UTMO.Text.FileGenerator.Provider.DSC.csproj
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Path conditions:
  .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml: any of: src/UTMO.Text.FileGenerator.Provider.DSC
  .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml: any of: src/UTMO.Text.FileGenerator.Provider.DSC, src/UTMO.Text.FileGenerator.Provider.DSC.*
