Repository UTM-Online/UTMO.Text.FileGenerator.Provider.PS-DSC: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

.pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml:
  name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Build/Build.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      NugetConfigPath: $(RepoRoot)/src/nuget.config

.pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml:
  name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      NugetConfigPath: $(RepoRoot)/src/nuget.config
      ProjectsToBuild: $(Projects)
  ...

Enhance build workflow with permissions and improved package metadata publishing
  .github/workflows/build.yml
Due: none

Updating project README.md
  README.md
  src/UTMO.Text.FileGenerator.Provider.PS-DSC.slnx
Due: none

Adding licensing information to the project
  LICENSE
  README.md
Due: none

Licensing update
  README.md
Due: none

Update copyright information and author details across multiple files
  LICENSE
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/AlternateIpAddresses.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscLcmConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscResourceBase.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/ManagedServiceAccount.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/NetworkAdapter.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/NodeNetworkSettings.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/PrimaryIpAddress.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/RequiredModule.Equatable.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/RequiredModule.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Enums/DscEnsure.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Enums/DscMode.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/ModuleDefinitions/ComputerManagementDsc.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/ModuleDefinitions/NetworkingDsc.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/ModuleDefinitions/PackageManagement.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/ModuleDefinitions/SecurityPolicyDsc.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/ModuleDefinitions/WmiNamespaceSecurity.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.cChoco/cChoco.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Modules/SqlServerDsc.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Modules/UTMO_Infra_DSC_Common.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Modules/UTMO_Infra_DSC_DotNetCore.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Modules/cAzureKeyVault.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Modules/xPSDesiredStateConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Modules/xStorage.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Modules/xWebAdministration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/EnvironmentExtensions.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Update package versions for UTMO.Text.FileGenerator and validators to 2.15.12
  src/Directory.Packages.props
Due: none

Change runner environment from ubuntu-latest to OnPremRunners in build configuration
  .github/workflows/build.yml
Due: none

Add ScriptBlockAttribute to mark properties for PowerShell script block rendering
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Attributes/ScriptBlockAttribute.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationPropertyBag.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/ScriptResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Refactor build configuration to specify runner group for OnPremRunners
  .github/workflows/build.yml
Due: none

Add continue-on-error option to .NET setup in build configuration
  .github/workflows/build.yml
Due: none

Rename workflow for .NET project to DSC Configuration Generation Build and update .NET setup action version
  .github/workflows/build.yml
Due: none

Update .NET setup action to version 4 and configure environment variables for installation
  .github/workflows/build.yml
Due: none

Onboard Environment DSC resource (PSDesiredStateConfiguration) (#3)
  src/DSCProviderCore.Tests/EnvironmentResourceTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Constants/PSDesiredStateConfigurationConstants.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/Contracts/IEnvironmentResource.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.WindowsCore/Resources/PSDesiredStateConfiguration/EnvironmentResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Add continue-on-error option to NuGet push step and refactor command syntax
  .github/workflows/build.yml
Due: none

Refactor NuGet push step to handle multiple packages and add verbose logging
  .github/workflows/build.yml
Due: none

Add --no-build option to dotnet pack command in build.yml
  .github/workflows/build.yml
Due: none

Remove verbose logging flag from dotnet nuget push command in build.yml
  .github/workflows/build.yml
Due: none

Remove --no-build option from dotnet pack command in build.yml
  .github/workflows/build.yml
Due: none

Refactor package metadata publishing step in build.yml to use PowerShell and improve error handling
  .github/workflows/build.yml
Due: none

Enhance package metadata publishing in build.yml to include repository name and version, and improve error handling for missing packages
  .github/workflows/build.yml
Due: none

Set no restore flag for packging step
  .github/workflows/build.yml
Due: none

Add unified build and deployment pipeline for DSC Generator packages
  .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml
Due: none

fix
  .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml
Due: none

Set up CI with Azure Pipelines
  .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml
Due: none

Refactor enums to use multi-line format for improved readability
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/AppPoolIdentityType.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/AppPoolStartMode.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/AppPoolState.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/BindingProtocol.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/CertificateStoreName.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/CpuAction.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/EnabledProtocol.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/IdleTimeoutAction.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/IisModuleType.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/LoadBalancerCapabilities.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/LogCustomFieldSourceType.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/LogFlags.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/LogFormat.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/LogPeriod.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/LogTargetW3C.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/LogonType.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/ManagedPipelineMode.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/OverrideMode.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/RequireAccess.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/SslBinding.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Enums/WebSiteState.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Update WebAdministrationDsc to disable alternate format and comment out RewriteModuleVersion
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Modules/WebAdministrationDsc.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Update WebAdministrationDsc to enable alternate format and adjust RewriteModuleVersion
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Modules/WebAdministrationDsc.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Update WebAdministrationDsc to set RewriteModuleVersion to ModuleVersion
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Modules/WebAdministrationDsc.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Add GmsaCredential type and update IWebAppPool to use it for SpecificUser identity
  src/DSCProviderCore.Tests/DSCProviderCore.Tests.csproj
  src/DSCProviderCore.Tests/DscConfigurationPropertyBagTests.cs
  src/DSCProviderCore.Tests/WebAppPoolResourceTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationPropertyBag.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Contracts/IPowerShellExpression.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Contracts/IWebAppPool.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/README.md
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Types/GmsaCredential.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/WebAppPoolResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Update build.yml to handle pull request events and conditionally execute steps
  .github/workflows/build.yml
Due: none

Enhance GmsaCredential validation to disallow whitespace and control characters in account names
  src/DSCProviderCore.Tests/WebAppPoolResourceTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Types/GmsaCredential.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Fixing artifact publishing directory
  .github/workflows/build.yml
Due: none

Enhance IPowerShellExpression documentation to highlight security risks and usage guidelines
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationPropertyBag.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Contracts/IPowerShellExpression.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Clarify validation messages for gMSA credential requirements in WebAppPoolResource
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/WebAppPoolResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Add GmsaCredential type and update IWebAppPool to use it for Specific… (#5)
  .github/workflows/build.yml
  src/DSCProviderCore.Tests/DSCProviderCore.Tests.csproj
  src/DSCProviderCore.Tests/DscConfigurationPropertyBagTests.cs
  src/DSCProviderCore.Tests/WebAppPoolResourceTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationPropertyBag.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Contracts/IPowerShellExpression.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Contracts/IWebAppPool.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/README.md
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Types/GmsaCredential.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/WebAppPoolResource.cs
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Add support for plaintext passwords in DSC configurations with GmsaCredential
  src/DSCProviderCore.Tests/WebAppPoolResourceTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscComputerConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationItem.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationPropertyBag.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Contracts/IRequiresPlainTextPassword.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/README.md
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Types/GmsaCredential.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscConfiguration.liquid
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscNodeConfiguration.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Add support for domain user credentials in DSC configurations
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/README.md
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscConfiguration.liquid
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscNodeConfiguration.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Add support for plaintext passwords in DSC configurations with GmsaCr… (#7)
  src/DSCProviderCore.Tests/WebAppPoolResourceTests.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscComputerConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfiguration.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationItem.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/BaseTypes/DscConfigurationPropertyBag.cs
  src/UTMO.Text.FileGenerator.Provider.DSC.Abstract/Contracts/IRequiresPlainTextPassword.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/README.md
  src/UTMO.Text.FileGenerator.Provider.DSC/Definitions/Resources/WebAdministrationDsc/Types/GmsaCredential.cs
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscConfiguration.liquid
  src/UTMO.Text.FileGenerator.Provider.DSC/Templates/DscNodeConfiguration.liquid
Due: .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml, .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml

Path conditions:
  .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Official.yml: any of: src/UTMO.Text.FileGenerator.Provider.DSC
  .pipelines/UTMO.Text.FileGenerator.Provider.DSC-Unified.yml: any of: src/UTMO.Text.FileGenerator.Provider.DSC, src/UTMO.Text.FileGenerator.Provider.DSC.*
